header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #0e232e;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    transition: 0.3s color;
}

nav a:hover {
    color: #5c5b5b;
}
